<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            justify-content: center;
            display: flex;
        }
        form {
            display: flex;
            flex-direction: column;
            gap: 15px;

        }
        input, select {
            min-height: 50px;
            border-radius: 10px;
            padding-left: 7px;
        }
    </style>
</head>
<body>

  <!---<nav class="navbar">
        <img src="chemin du logo du site" alt="Logo du site">
        <ul class="navbar-links">
            <li>
                <a href="#">Nouvelle visite</a>
                <ul>
                    <li><a href="creer">Visiteur</a></li>
                    <li><a href="employe">Employe</a></li>
                </ul>
            </li>
            <li><a href="liste_des_visites">Liste des visites</a></li>
            <li><a href="services">Services</a></li>
         <li><a href="#se-connecter">Se connecter</a></li>
            <li><a href="/logout" id="logout-button" >Se deconnecter</a></li>
        </ul>
    </nav>
--->
    <form action="" method="post"  >
         {% csrf_token %}
        <h1>Ajouter un nouveau service</h1>
        <a href="services">Retour</a>
        <input required name="nom_service" placeholder="entrer le nom du service à ajouter">
        <input required type="submit">
    </form>
</body>
</html>